<!-- Footer Section -->
  <footer class="main-footer">
    <div class="footer-container">
      <h2 class="footer-title">Infinite Green Service Solutions</h2>
      <div class="footer-columns">
        <ul class="footer-menu">
          <li class="footer-headings">Quick Links</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="/about.html">About Us</a></li>
          <li><a href="/contact.html">Contact Us</a></li>
          <li><a href="/shop.html">Shop</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/privacy-policy.html">Privacy Policy</a></li>
          
          <li><a href="/terms-and-conditions.html">Terms & Conditions</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Accessibility</a></li>
          
          <li><a href="/cookie-notice.html">Cookie Notice</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-headings">Services</li>
          <li><a href="/services/irrigation">Irrigation</a></li>
          <li><a href="/services/boreholes">Boreholes</a></li>
          <li><a href="/services/plumbing">Plumbing</a></li>
          <li><a href="/services/electrical">Electrical</a></li>
          <li><a href="/services/water-storage-tanks">Water Storage Tanks</a></li>
          <li><a href="/services/water-filtration">Water Filtration</a></li>
          <li><a href="/services/pumps">Pumps</a></li>
          <li><a href="/services/landscaping">Landscaping</a></li>
          <li><a href="/services/grey-water-systems">Grey Water Systems</a></li>
          <li><a href="/services/rain-water-harvesting">Rain Water Harvesting</a></li>
          <li><a href="/services/waste-water-systems">Waste Water Systems</a></li>
          <li><a href="/services/leak-detection">Leak Detection</a></li>
          <li><a href="/services/emergency-services">Emergency Services</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-headings">Shop</li>
          <li><a href="#">Irrigation Kits</a></li>
          <li><a href="#">Sprinklers</a></li>
          <li><a href="#">Controllers</a></li>
          <li><a href="#">Valves</a></li>
          <li><a href="#">Fittings</a></li>
          <li><a href="#">Pumps</a></li>
          <li><a href="#">Water Tanks</a></li>
          <li><a href="#">Aggregates</a></li>
          <li><a href="#">Landscaping</a></li>
          <li><a href="#">Electrical</a></li>
          <li><a href="#">Plumbing</a></li>
          <li><a href="#">Solar</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-headings">Social Media</li>
          <li><a href="https://www.facebook.com/MyriadGreen"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
          <li><a href="https://www.instagram.com/myriadgreen1/"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
          <li><a href="https://x.com/green_myriad"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/myriad-green-pty/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://www.youtube.com/channel/UCcwj7WeFJ4C9JRxNOQWKCjw"><i class="fa-brands fa-youtube"></i> YouTube</a></li>
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i> Whatsapp</a></li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-headings">Contact</li>
          <li><a href="tel:02108524419">Phone: 021 0852 4419</a></li>
          <li><a href="mailto:irrigationsa@gmail.com">Email: irrigationsa@gmail.com</a></li>
          <li><a href="#">Contact Form</a></li>
          <li><a href="#">Location</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Copyright Bar -->
  <div class="copyright-bar">
  <img src="/images/work/Myriadgreen_irrigation_logo-removebg-preview.png" alt="Logo" class="copyright-bar-logo">
    <span>&copy; <span id="year"></span> Myriad Green. All rights reserved.</span>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const year = document.getElementById("year");
      if (year) year.textContent = new Date().getFullYear();
    });
  </script>
